<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ site.description }}">

    {% feed_meta %}

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet2.css">

    <title>{{ site.title }}</title>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-52449822-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
{% include sidebar.html    %}
        <div id="header_wrap" class="outer">
          <header class="inner" id="header">
            <!-- <a id="forkme_banner" href="{{ giturl }}">View on GitHub</a> -->
            <h1 id="project_title"   class="nospaceafter">{{ site.title }}</h1>
            <h2 id="project_tagline" class="nospaceafter">{{ site.description }}</h2>
            <h3 id="page_title"      class="nospaceafter">{{ page.title }}</h3> <small class="white">{{ page.date | date: '%B %d, %Y' }}</small>
            <h4 id="page_title"      class="nospaceafter">{% include tag_header.html %}</h4>
          </header>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
          <section id="main_content" class="inner">

