h1, h2, h3, h4, h5 {
  font-weight: 200;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.navbar {
    border: 0;
    padding: 1ex 0;
    border-bottom: 1px solid #eee;
    background: #fff;
}

.navbar h1 {
    display: inline-block;
    font-size: 4em;
    margin: 0;
    line-height: 1em;
    vertical-align: middle;
    margin-left: 0.25em;
    font-weight: 100;
    text-transform: uppercase;
}

.navbar h1 .reg {
    color: #bbb;
    display : inline;
}

.navbar-brand {
    height: auto;
    padding: 0;
}

@media (min-width: 900px) {
  .navbar-nav, .navbar-brand {
    height: auto;
  }
  .navbar-nav li a {
    line-height: 40px;
  }
}


.btn {
  border-radius: 0;
}

.thumbnail {
    padding: 0px;
    border: 0px;
}


.showbox div {
    background-color: rgba(168, 168, 176, 0.75);
}



#qkeywords {
    padding-bottom: 15px;
}

#github-ribbon {
    position: absolute;
    top: 0;
    border: 0;
    height: 149px;
    width: 149px;
    background-repeat: no-repeat;
    background-position:center; 
}

.thumbnail .caption {
  background: #fff;
  border-bottom: 2px solid #58ac46;
  color: #000;
}
.thumbnail .caption h4 {
  font-weight: 200;
}
.showbox a:hover {
  text-decoration: none;
}

@media(max-width:980px) {
    .navbar-brand h2 {
      display: none;
    }
}
/*  different viewports */
@media(min-width:768px) {  
    #qkeywords > div {
      padding: 0;
    }
    #qkeywords {
      margin: 6ex 0 3ex 0;
    }
    .speedbuttons {
      margin-bottom: 4ex;
    }
    #main-heading{
        margin-top: 5px;
    }
    #github-ribbon {
        background-image: url(../img/ribbons/github_right_red.png);
        right: 0;
    }
}

@media(max-width:767px) {  
    #main-heading{
        margin-left: 39px;
        margin-top: 5px;
    }
    #github-ribbon {
        background-image: url(../img/ribbons/github_left_red.png);
        left: 0;
    }
}

#heading-get-involved {
    padding-top:20px;
}
#row-get-involved {
    padding-top: 10px;
    padding-bottom: 20px;
    vertical-align:middle;
    text-align:center;
    display: block;
}
#row-get-involved img {
    height: 90px;
    clear: both;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#row-get-involved a{
    color: black;
}

.privacy-policy {
    text-align:center;
}
#privacy-notice-less {
    cursor: pointer;
    text-decoration: underline;
}

.improve-this-page {
    margin-bottom: 0px;
    text-align: right;
}

.improve-this-page .glyphicon {
    padding-right: 5px;
}



/* rotate the biojs logo
   thanks @mhelvens
*/

.navbar-brand img {
    transform: rotate(0deg);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.navbar-brand:hover img {
    transform: rotate(180deg);
}
