<div class="container">

	<div class="resume">
		<header class="page-header">
            <div ng-model="repo">
                <h1 class="page-title">
                    Summary of {{repo.repoName}}
                        <i align="center" ng-if="repo.starred == 'true'" class="fa fa-star icon-d icon-d" aria-hidden="true"></i>
                        <i ng-if="repo.starred == 'false'" class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                    <span></span>
                </h1>
            </div>

			<small> <i class="fa fa-clock-o"></i> Last Updated on: <time>{{repo.last_updated | date:'yyyy-MM-dd'}}</time></small>
		</header>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
				<div class="panel panel-default">
					<div class="panel-heading resume-heading">
						<div class="row">
							<div class="col-lg-12">
								<div class="col-xs-12 col-sm-4">
									<figure>
										<img ng-if="repo.domain == 'docker'" class="img-circle img-responsive" alt="" src="includes/images/docker.png" width="200">
                                        <img ng-if="repo.domain == 'quay'" class="img-circle img-responsive" alt=""   src="includes/images/quay.png"
                                             width="200" height="200" style="padding-top: 30px;border-radius:0%">
                                    </figure>
                                    <div style="padding-top: 10px; align-content: center">
                                        <ul ng-social-buttons
                                            data-url="repo.url"
                                            data-title="repo.repoName"
                                            data-description="repo.description">
                                            <li class="ng-social-facebook"></li>
                                            <li class="ng-social-google-plus"></li>
                                            <li class="ng-social-twitter"></li>
                                            <li class="ng-social-github" user="biocontainers" repository="containers"></li>
                                            <li class="ng-social-github-forks" user="biocontainers" repository="containers">Forks</li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-8">
									<ul class="list-group">
										<li class="list-group-item">{{repo.repoName}}</li>
										<li class="list-group-item">{{repo.description}}</li>
                                        <a ng-href="{{repo.url}}"><li class="list-group-item">{{repo.url}}</li></a>
                                        <li ng-if="repo.toolTags != null && repo.toolTags.length > 0" class="list-group-item">
                                                <span ng-repeat=" tag in repo.toolTags" ng-class="{ 'label label-primary': ($index%3)==0 ,
                                                                                                    'label label-success': ($index%3)==1 ,
                                                                                                    'label label-info': ($index%3)==2 } ">{{tag}}</span>

                                        </li>
									</ul>
								</div>
							</div>
						</div>
					</div>

                    <div class="bs-callout bs-callout-danger">
                        <h4>Container Pull Command</h4>
                        <div hljs hljs-source="repo.command"></div>
                    </div>

                    <div ng-if="repo.dockerFile.length > 0" class="bs-callout bs-callout-danger">
						<h4>{{repo.typeDockerFile}}  Information</h4>
						<div hljs hljs-source="repo.dockerFile"></div>
					</div>

                    <div ng-if="repo.dockerFile.length > 0" class="bs-callout bs-callout-danger">
                        <h4>{{repo.typeDockerFile}}  Information</h4>
                        <div hljs hljs-source="repo.dockerFile"></div>
                    </div>

					<div class="bs-callout bs-callout-danger">
						<h4>Docker Images</h4>
                        <table class="table" si-table>
                            <tr>
                                <th sort-by="name">Image Tag</th>
                                <th sort-by="last_updated | date:'yyyy-MM-dd'">Last Modified</th>
                                <th sort-by="size">Size</th>
                            </tr>
                            <tr si-sortable="single" ng-repeat="container in repo.imagesList | filter:filter">
                                <td>{{ container.tag }}</td>
                                <td>{{container.last_updated | date:'yyyy-MM-dd'}}</td>
                                <td>{{container.size / 1000000}} MB</td>
                            </tr>
                            <tfoot>
                            <tr>
                                <td colspan="5">
                                    <si-table-pagination limit="5" />
                                </td>
                            </tr>
                            </tfoot>
                        </table>
					</div>
				</div>

			</div>
		</div>
</div>
</div>